<div data-block="minicart" class="minicart-wrapper">
        <a class="action showcart" href="https://ld-magento-72.template-help.com/magento_mag-2153/checkout/cart/" data-bind="scope: 'minicart_content'">
                <span class="text"></span>
            <span class="counter qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
                <span class="counter-number">
                    <!-- ko if: !getCartParam('summary_count') -->
                        <!-- ko text: 0 -->0<!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: getCartParam('summary_count') --><!-- /ko -->
                </span>
                <span class="counter-label">
                    <!-- ko if: getCartParam('summary_count') == 1 --><!-- /ko -->
                    <!-- ko if: getCartParam('summary_count') > 1 --><!-- /ko -->
                </span>
            </span>
            <span class="showcart-label">My Cart</span>
        </a>
                    
                <script>
            window.checkout = {"shoppingCartUrl":"https:\/\/ld-magento-72.template-help.com\/magento_mag-2153\/checkout\/cart\/","checkoutUrl":"https:\/\/ld-magento-72.template-help.com\/magento_mag-2153\/checkout\/","updateItemQtyUrl":"https:\/\/ld-magento-72.template-help.com\/magento_mag-2153\/checkout\/sidebar\/updateItemQty\/","removeItemUrl":"https:\/\/ld-magento-72.template-help.com\/magento_mag-2153\/checkout\/sidebar\/removeItem\/","imageTemplate":"Magento_Catalog\/product\/image_with_borders","baseUrl":"https:\/\/ld-magento-72.template-help.com\/magento_mag-2153\/","minicartMaxItemsVisible":5,"websiteId":"1","maxItemsToDisplay":10,"storeId":"1","customerLoginUrl":"https:\/\/ld-magento-72.template-help.com\/magento_mag-2153\/customer\/account\/login\/referer\/aHR0cHM6Ly9sZC1tYWdlbnRvLTcyLnRlbXBsYXRlLWhlbHAuY29tL21hZ2VudG9fbWFnLTIxNTMv\/","isRedirectRequired":false,"autocomplete":"off","socialLogin":{"isEnabled":false,"providers":[]},"captcha":{"user_login":{"isCaseSensitive":false,"imageHeight":50,"imageSrc":"","refreshUrl":"https:\/\/ld-magento-72.template-help.com\/magento_mag-2153\/captcha\/refresh\/","isRequired":false,"timestamp":1582246392}}};
        </script>
        
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front mage-dropdown-dialog" tabindex="-1" role="dialog" aria-describedby="ui-id-1" style="display: none;"><div class="block block-minicart empty ui-dialog-content ui-widget-content" data-role="dropdownDialog" id="ui-id-1">
                <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                    <!-- ko template: getTemplate() -->
<div class="block-title">
    <strong>
        <span class="text"><!-- ko i18n: 'My Cart' --><span>My Cart</span><!-- /ko --></span>
        <span class="qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false },
                       attr: { title: $t('Items in Cart') }" title="Items in Cart">
            <!-- ko text: getCartParam('summary_count') -->0<!-- /ko -->
        </span>
    </strong>
</div>

<div class="block-content">
    <button type="button" id="btn-minicart-close" class="action close" data-action="close" data-bind="attr: { title: $t('Close') }" title="Close">
        <span><!-- ko i18n: 'Close' --><span>Close</span><!-- /ko --></span>
    </button>

    <!-- ko if: getCartParam('summary_count') --><!-- /ko -->

    <!-- ko if: getCartParam('summary_count') --><!-- /ko -->

    <!-- ko ifnot: getCartParam('summary_count') -->
    <strong class="subtitle empty" data-bind="visible: closeSidebar()">
        <!-- ko i18n: 'You have no items in your shopping cart.' --><span>You have no items in your shopping cart.</span><!-- /ko -->
    </strong>
    <!-- ko if: getCartParam('cart_empty_message') --><!-- /ko -->
    <!-- /ko -->

    <!-- ko if: getCartParam('summary_count') --><!-- /ko -->

    <div id="minicart-widgets" class="minicart-widgets">
        <!-- ko foreach: getRegion('promotion') -->
        <!-- ko template: getTemplate() -->
<!-- ko foreach: {data: elems, as: 'element'} --><!-- /ko -->
<!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- ko foreach: getRegion('sign-in-popup') --><!-- /ko -->
<!-- /ko -->
                </div>
                            </div></div></div>