

<span data-action="toggle-nav" class="action nav-toggle"><span>Toggle Nav</span></span>
    <a class="logo" href="https://ld-magento-72.template-help.com/magento_mag-2153/" title="Jewelrus" aria-label="store logo">
        <img src="https://ld-magento-72.template-help.com/magento_mag-2153/pub/media/theme_options/default/logo.png" title="Jewelrus" alt="Jewelrus" width="182" height="72">
    </a>