<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

 /** @var \Magento\CatalogSearch\Helper\Data $helper */
$helper = $this->helper(\Magento\CatalogSearch\Helper\Data::class);
?>
<div class="nested">
    <a class="action advanced" href="<?= $block->escapeUrl($helper->getAdvancedSearchUrl()) ?>" data-action="advanced-search">
        <?= $block->escapeHtml(__('Advanced Search')) ?>
    </a>
</div>
