<footer class="page-footer"><div class="container content footer"><div class="row"><div class="col-md-2 col-lg-3"><img src="https://ld-magento-72.template-help.com/magento_mag-2153/pub/static/frontend/Zemez/theme100/en_US/images/logo_light.png" alt="logo-light" class="logo-light">
<p class="footer-info">We deliver our goods worldwide. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p></div><div class="col-md-2"><div class="footer-col"><h4>Information</h4><div class="footer-col-content" style="display: block;"><ul>
    <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/about-us">About Us</a></li>
    <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/customer-service">Customer Service</a></li>
    <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/template-settings">Template Settings</a></li>
</ul>

<ul class="footer links"><li class="nav item"><a href="https://ld-magento-72.template-help.com/magento_mag-2153/privacy-policy-cookie-restriction-mode/">Privacy Policy</a></li><li class="nav item"><a href="https://ld-magento-72.template-help.com/magento_mag-2153/sales/guest/form/">Orders and Returns</a></li><li class="nav item"><a href="https://ld-magento-72.template-help.com/magento_mag-2153/newsletter/manage/index/" class="newsletter-popup-link">Newsletter Subscription</a></li></ul></div></div></div><div class="col-md-2"><div class="footer-col"><div class="footer-col">
	<h4>Why buy from us</h4>
	<div class="footer-col-content" style="display: block;">
	    <ul>
	        <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/shipping-delivery">Shipping &amp; Delivery</a></li>
	        <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/secure-payment">Secure payment</a></li>
	        <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/support">Support</a></li>
	        <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/guarantee">Guarantee</a></li>
	        <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/terms-conditions">Terms &amp; Conditions</a></li>
	    </ul>
	</div>
</div></div></div><div class="col-md-2"><div class="footer-col">
    <h4>My account</h4>
    <div class="footer-col-content" style="display: block;">
        <ul>
            <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/customer/account/login/">Sign In</a></li>
            <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/checkout/cart/">View Cart</a></li>
            <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/wishlist/">My Wishlist</a></li>
            <li><a href="https://ld-magento-72.template-help.com/magento_mag-2153/faq">FAQ</a></li>
        </ul>
    </div>
</div>
</div><div class="col-md-4 col-lg-3"><div><div class="contact-info">
   	<address class="contact-info_address">
   		<dl>
   			<dt>
   				<span class="material-icons-room"></span>
   			</dt>
   			<dd>Glasgow D04 89GR</dd>
   		</dl>
		<dl>
			<dt>
				<span class="material-icons-local_phone"></span>
			</dt>
			<dd>
				<span class="contact-info_tel"><a href="tel:+3(800) 2345-6789">+3(800) 2345-6789</a></span>
			</dd>
		</dl>
		<dl>
			<dt>
				<span class="material-icons-access_time"></span>
			</dt>
			<dd>7 days a week from 9:00 am to 7:00 pm</dd>	
		</dl>
		<dl>
			<dt>
				<span class="material-icons-email"></span>
			</dt>
			<dd>
				<span class="contact-info_mail"><a href="mailto:info@demolink.org">info@demolink.org</a></span>
			</dd>
		</dl>
   	</address>
</div><style>
    @media (min-width: 768px) {
        ul.social-links.position-footer {
            text-align: left;
        }
    }
</style>
<ul class="social-links position-footer type-font">
            <li>
            <a href="#" target="_blank">
    <i class="fa fa-facebook" style="font-size: 15px; line-height: 38px;">

    </i>
</a>        </li>
            <li>
            <a href="#" target="_blank">
    <i class="fa fa-twitter" style="font-size: 15px; line-height: 38px;">

    </i>
</a>        </li>
            <li>
            <a href="#" target="_blank">
    <i class="fa fa-google-plus" style="font-size: 15px; line-height: 38px;">

    </i>
</a>        </li>
            <li>
            <a href="#" target="_blank">
    <i class="fa fa-instagram" style="font-size: 15px; line-height: 38px;">

    </i>
</a>        </li>
            <li>
            <a href="#" target="_blank">
    <i class="fa fa-youtube-play" style="font-size: 15px; line-height: 38px;">

    </i>
</a>        </li>
    </ul></div></div></div></div>

<script type="text/javascript">
    require(['jquery', 'domReady!'], function ($) {
        $('#msp-recaptcha-58312e2256fb5bcda606e9b5046e00ef-container')
            .appendTo('#newsletter-validate-detail');
    });
</script>


<div class="footer-panel"><div class="container"><small class="copyright">
    <span>© {current_year} Magento Demo Store. All Rights Reserved.</span>
</small>
<ul class="list-inline list-payment">
	<li><span class="icon icon-xs fa fa-cc-visa"></span></li>
	<li><span class="icon icon-xs fa fa-cc-mastercard"></span></li>
	<li><span class="icon icon-xs fa fa-cc-paypal"></span></li>
	<li><span class="icon icon-xs fa fa-cc-discover"></span></li>
	<li><span class="icon icon-xs fa fa-cc-stripe"></span></li>
</ul></div></div></footer>